.home_body {
  width: 100%;
  .menu_area {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  .home_body_table_area {
    padding: 3rem;
    margin: 3rem;
    border-radius: 5px;
    background-color: white;
  }
  .thead {
    font-size: 30px;
  }
}

